.header {
    position: relative;
    left: 0;
    right: 0;
    max-width: 1200px;
    margin: auto;
    height: 80px;
    background: #4a8b9b;
    padding: 10px;
  }

.header.home {
    background: transparent;
    position: absolute;
}

.footer {
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: transparent;
    bottom: 10px;
    text-align: center;
    color: #000;
    overflow: hidden;
}

.heading {
    position: absolute;
    bottom: -5px;
    z-index: 0;
    left: 4%;
    padding: 5px 15px 5px 15px;
    color: white;
    letter-spacing: .2rem;
}
