.nav {
    position: absolute;
    display: flex;
    min-width: 400px;
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0px;
    overflow: hidden;
    box-sizing: border-box;
    align-items: center;
    transition: all .5s ease-in-out;
}

.navbar {
    display: none;
}

@media only screen and (min-width: 768px) {
    .navbar {
        display: flex;
        position: absolute;
        height: 80px;
        width: 40%;
        min-width: 400px;
        right: 0px;
        bottom: 0px;
        vertical-align: center;
    }
    .navbarItem {
        display: inline-block;
        padding: 25px 8% 0 8%;
        color: white;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    
    .navbarItem:hover {
        text-decoration: overline;
    }
}

.dropMenu {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 0;
    width: 100px;
    height: fit-content;
    text-align: right;
    background: #303030;
    padding-right: 7px;
    transform: translateX(150px);
    transition: all .5s ease-in-out;
}


.menuItem {
    padding: 25px 8% 25px 8%;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* Menu Animation */
.nav.open {
    overflow: visible;
    transition: all .5s ease-in-out;
}

.nav.open .dropMenu {
    transform: translateX(0px);
}

/* Button */

.button {
    position: absolute;
    right: 30px;
    display: flex;
    top: 0;
    bottom: 0;
    width: 60px;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}

@media only screen and (min-width: 768px) {
    .button {
        display: none;
    }
}

.burger {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;    
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burger::before {
    transform: translateY(-11px);
}
.burger::after {
    transform: translateY(11px);
}

/* Animation, inspired by codeSTACKr on YouTube */
.button.open {
    transform: translateX(-70px);
}

.button.open .burger {
    transform: translateX(-50px);
    background: transparent;
}

.button.open .burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.button.open .burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}