.container {
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    padding-top: 30px;
}

.container h1 {
    font-family: 'Zilla Slab';
}

.main {
    width: 90%;
    margin: auto;
}

.technologies {
    display: flex;
    justify-content: space-around;
}