.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    padding-top: 30px;
}

.container h1 {
    font-family: 'Zilla Slab';
}

.main {
    width: 90%;
    margin: auto;
}