.container {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

.blurb h2 {
    font-family: 'Zilla Slab';
    font-size: 1.5rem;
    -webkit-transform: scaleY(2); /* Safari */
    transform: scaleY(2);
}

.blurb hr {
    margin-top: 30px;
    width: 60%;
    text-align: left;
}

.list {
    list-style: none;
    padding-top: 20px;
}

.post {
    border: 1px solid #6A6C6E;
    width: 40%;
    min-width: 100px;
    max-width: 250px;
    margin-left: 100px;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.25rem;
}