@import url('https://fonts.googleapis.com/css?family=Zilla+Slab|Gowun+Batang|Bitter:200');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
    overlow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}


.material-icons-outlined {
  position: relative;
  bottom: 10px;
  color: white;
  font-size: 45px;
  transition: color 1s;
}

ul {
  list-style: none;
}

#social {
  text-align: center;
  justify-content: center;
}

