.banner {
    position: relative;
    z-index: -1;
    max-width: 1500px;
    margin: auto;
}

.profile {
    position: absolute;
    top: 16%;
    left: 10%;
    width: 17%;
    min-width: 100px;
    max-height: 325px;
    border: 7px solid white;
    border-radius: 5px;
    filter: grayscale();
    box-shadow: 0px 0px 10px black; 
}

.headline {
    position: absolute;
    top: 20%;
    right: 7%;
    display: inline-block;
    z-index: 1;
    max-height: 200px;
    max-width: 45%; 
    font-family: 'Zilla Slab';
    color: white;
    font-size: 1.25rem;
    letter-spacing: .25rem;
    text-align: center;
    text-shadow: 0 0 2px black;
    vertical-align: middle;
}

.name {
    text-decoration: underline white 4px;
    height: 50%;
    font-size: 1.425vw;
}

.tagline {
    font-size: 1.88vw;
    height: 50%;
}

.greeting {
    position: relative;
    display: block;
    margin: 0px auto;
    width: 90%;
    max-width: 1500px;
    top: 20px;
}

.wrapper {
    max-width: 950px;
    margin: 0px auto;
}

.wrapper div {
    position: relative;
    display: inline-block;
    min-width: 260px;
    width: 30%;
    max-width: 325px;
    background-color: #808080;
    margin: 15px;
    color: white;
    vertical-align: top;
    transition: height 1.5s;
    float: none;
}

.folded {
    height: 90px;
}

.dropped {
    height: 220px;
}

.greeting div h2 {
    text-align: center;
    font-family: 'Zilla Slab';
    font-size: 2rem;
}

.greeting div p {
    height: 100px;
    padding: 0 5px 0 5px;
    text-align: center;
    transition: color 1s;
}

